{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ app_name }} - {{ shop_description }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    {% endblock meta %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
  </head>

  <body>
    <!-- Top Info Bar -->
    <div
      class="w-full bg-[#2a2a2a] px-4 sm:px-6 lg:px-8 py-2 flex text-white text-sm justify-end fixed top-0 w-full z-50"
    >
      <p>Muhammad Fauzan - 2406496302 - PBP E</p>
    </div>

    <!-- Navbar Component -->
    <div class="fixed top-8 w-full z-40">{% include 'navbar.html' %}</div>

    <!-- Main Content with proper top padding to account for fixed navbar -->
    <div class="pt-24">{% block content %} {% endblock content %}</div>

    <footer class="footer bg-[#2a2a2a] text-white py-6">
      <div class="container mx-auto text-center">
        <p class="text-sm">
          &copy; 2025 {{ app_name }}. PBP Assignment by {{name}}. | Glory Glory
          Man United!
        </p>
      </div>
    </footer>

    <!-- Include Components -->
    {% include 'toast.html' %} {% include 'product_modals.html' %}
  </body>
</html>
